# 0.0 IMPORTS

In [20]:
import pandas as pd
import inflection
import math

# 0.1 Helper Functions

In [2]:
#!pip install inflection==0.5.1

In [3]:
!pip freeze | grep inflec

inflection==0.5.1

# 0.2 Loading Data

In [4]:
# print("read_csv("data_set/stores.csv)")
pd.read_csv("Rossmann-Store-Sales-Prediction/dataset/train.csv", low_memory=False)
df_sales_raw=pd.read_csv("Rossmann-Store-Sales-Prediction/dataset/train.csv", low_memory=False)

pd.read_csv("Rossmann-Store-Sales-Prediction/dataset/store.csv", low_memory=False)
df_store_raw=pd.read_csv("Rossmann-Store-Sales-Prediction/dataset/store.csv", low_memory=False)
# /home/cab/ds_in_deploy/Rossmann-Store-Sales-Prediction/dataset

In [5]:
#df_sales_raw #1001599 rows × 10 columns
df_store_raw #1115 rows × 10 columns

#arquivo_referencia, anexado a referencia, como faremos o merge, a coluna igual nos dois  
df_raw=pd.merge(df_sales_raw, df_store_raw, how='left') #1001599 rows × 19 columns
# so alterou o numero de colunas

In [6]:
df_raw.sample()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Id,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
950352,43,5,2013-02-15,6502,614,1,0,0,0,234501,d,a,4880.0,NaN,NaN,1,37.0,2009.0,"Jan,Apr,Jul,Oct"

# 1.0 DESCRIÇÃO DOS DADOS

## 1.1 Rename Columns

In [7]:
# fazendo uma copia da seccao anterior 
df1=df_raw.copy()
#list(df1.columns)

In [8]:
cols_old=list(df1.columns)

In [9]:
snakecase = lambda x: inflection.underscore(x)
#mapeando a função
cols_new = list(map(snakecase, cols_old))
#rename
df1.columns=cols_new
#cols_new

## 1.2 Data Dimensions

In [10]:
print('Number of Rows: {}'.format(df1.shape[0]))
print('Number of Cols: {}'.format(df1.shape[1]))

Number of Rows: 1001599
Number of Cols: 19

## 1.3 Data Types

In [80]:
df1['date']=pd.to_datetime(df1['date'])
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
id                                       int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
month_map                               object
dtype: object

## 1.4 Check NA

In [81]:
df1.isna().sum()

store                           0
day_of_week                     0
date                            0
sales                           0
customers                       0
open                            0
promo                           0
state_holiday                   0
school_holiday                  0
id                              0
store_type                      0
assortment                      0
competition_distance            0
competition_open_since_month    0
competition_open_since_year     0
promo2                          0
promo2_since_week               0
promo2_since_year               0
promo_interval                  0
month_map                       0
dtype: int64

## 1.5 Fillout NA

In [82]:
df1.sample().T

                                           873908
store                                         534
day_of_week                                     4
date                          2013-04-25 00:00:00
sales                                        6830
customers                                     525
open                                            1
promo                                           1
state_holiday                                   0
school_holiday                                  0
id                                         660858
store_type                                      d
assortment                                      a
competition_distance                       1200.0
competition_open_since_month                  9.0
competition_open_since_year                2009.0
promo2                                          1
promo2_since_week                            45.0
promo2_since_year                          2009.0
promo_interval                    Jan,Apr,Jul,Oct
month_map                                     Apr

In [69]:
atributo='competition_open_since_month'
df1[atributo]= df1.apply(lambda x: x['date'].month if math.isnan(x[atributo]) else x[atributo], axis=1) #axis=1 aplicando ao longo das colunas

In [70]:
atributo='competition_open_since_year'
df1[atributo]= df1.apply(lambda x: x['date'].year if math.isnan(x[atributo]) else x[atributo], axis=1) #axis=1 aplicando ao longo das colunas

In [74]:
atributo='promo2_since_week'
df1[atributo]= df1.apply(lambda x: x['date'].week if math.isnan(x[atributo]) else x[atributo], axis=1) #axis=1 aplicando ao longo das colunas

In [77]:
atributo='promo2_since_year'
df1[atributo]= df1.apply(lambda x: x['date'].year if math.isnan(x[atributo]) else x[atributo], axis=1) #axis=1 aplicando ao longo das colunas

In [ ]:
#competition_distance              2600
#print(df1[1])
#df1['competition_distance'] =df1['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x)

#competition_open_since_month    318392
# se for verdade extraimos o mes
df1['competition_open_since_month'] = df1.apply(lambda x: x['date'].moth if math.isnan( x['competition_open_since_month']) else x['competition_open_since_month'], axis=1)
print('done')
df1.sample()
#competition_open_since_year     318392
#atributo='competition_open_since_year'
#df1[atributo] = df1.apply(lambda x: x['date'].year if math.isnan( x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)

#promo2_since_week               500415
#promo2_since_year               500415
#promo_interval                  500415

In [86]:
#promo_interval                  500415
month_map = {1:'Jan', 2:'Fev', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}
df1['promo_interval'].fillna(0, inplace=True) # fazendo modificação directa na coluna
#criando nova coluna
df1['month_map'] = df1['date'].dt.month.map(month_map) # os numeros serão trocados pelas letras
df1['is_promo'] = df1[['promo_interval', 'month_map']].apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'].split(',') else 0, axis=1) 
# criando lista dos elementos da coluna promo_interval e verificar se month_map está dentro da lista do intervalo

# 1.4 Check Type

In [88]:
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
id                                       int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
month_map                               object
is_promo                                 int64
dtype: object

In [ ]:
#competition_distance                   float64
#competition_open_since_month           float64
#competition_open_since_year            float64
#promo2_since_week                      float64
#promo2_since_year                      float64

# 1.4 DESCRIÇÃO DOS DADOS

# 1.4 DESCRIÇÃO DOS DADOS

# 1.4 DESCRIÇÃO DOS DADOS